<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Remove Product</title>
</head>
<body>
<div th:include="_header"></div>
<p>Remove Product:</p>
<form th:action="@{/admin/remove}" method="post">
    <input type="number" th:name="productId" th:id="*{productId}" th:value="${productId}" placeholder="id">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<p th:text="${productIsNotExist}" style="color: red"></p>
<p th:text="${productRemoved}" style="color: green"></p>
</body>
</html>