<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
</head>
<body>
<div th:include="_header"></div>
<h3 style="padding-left: 30px">Add Item:</h3>
<form th:action="@{/admin/add}" th:object="${newItem}" method="post">
    <input type="text" th:field="${newItem.itemName}" placeholder="name">
    <input type="text" th:field="${newItem.itemDesc}" placeholder="description">
    <input type="number" th:field="${newItem.itemPrice}" placeholder="price">
    <input type="text" th:field="${newItem.itemCategory}" placeholder="category">
    <input type="text" th:field="${newItem.picLink}" placeholder="picture url">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<p th:text="${cantAdd}" style="color: red"></p>
<br>
<p th:text="${addedItem}" style="color: green"></p>
<br>
<h3><a href="/admin/remove" style="padding-left: 30px">Remove Product here</a></h3>
<br>
<h3><a href="/admin/users" style="padding-left: 30px">List of Customers</a></h3>
<br>
<h3><a href="/admin/orders" style="padding-left: 30px">List of Orders</a></h3>
</body>
</html>